<% include partials/header %>
<div id="wrap">

<a href="/"><div class="logo">DenierEDU</div></a> <!-- logo! -->

<header class="masthead">

<!-- search by state -->
  <div class="container">
    <!-- HEADER TEXT -->
    <div class="row">
      <div class="xs-col-12 text-center header-text-box">
        <h2><span class="big">97%</span> of <span class="big">Scientists</span><br>but only<br><span class="big">74%</span> of <span class="big">Congress</span><br>
        Believe we contribute to climate change
        </h2>
        <br>
        <h3>How can we reach the other<br><span class="big">140</span><br>members of Congress?</h3>
        <br>
        <h3>It's probably not by tweeting scientific literature at them,<br><span style="font-size:30px"><em>but it might be...</em></span></h3>
      </div><!-- end of header-text-box -->
    </div><!-- end of header text row -->

    <!-- SEARCH BAR -->
    <div class="row">
        <div class="search-box">
            <form action="/search" id = "search" role="search" class="search-form"> <!-- form control for search -->
                <select class="form-control" id="state" name="state"> <!-- State search list -->
                  <option value ="state">Search Congress by state...</option>
                    <% allStates.forEach(function(state){ %>
                      <option value="<%= state %>"><%= state %></option>
                      <% }) %>
                </select>
                <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
            </form><!-- end search form -->
        </div><!-- end search-box div -->
    </div><!-- end searchbar row -->
  </div><!-- end masthead container -->

</header>

<!-- Fixed navbar -->
<div class="navbar navbar-custom navbar-static-top" id="nav">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav nav-justified">
          <li><a href="#representatives">Representatives</a></li>
          <li><a href="#senators">Senators</a></li>

        </ul>
      </div><!--/.nav-collapse -->
    </div><!--/.container -->
</div><!--/.navbar -->

<div class="container"><!-- reopen container div that will close in footer -->

<div class="divider" id="representatives"></div>
<h2 class="text-center">House of Representatives</h2>
<hr>
    <!-- IF NO REPS IN STATE SEARCH -->
    <% if (allReps.length === 0) { %>
      <p class="lead">There are no Representatives from <%= state %>.<p>
    <% } %>

    <% allReps.forEach(function(rep){ %>
    <div class="politician">
      <!-- ROW FOR WHOLE DIV -->
      <div class="row">
        <!-- img div -->
        <div class="col-xs-12 col-sm-3">
          <img class="politician-image desaturate"src="<%=rep.picture%>" alt="">
        </div>
        <!-- div to hold all other elements -->
        <div class="col-xs-12 col-sm-9">

          <!-- 1st row for name and district -->
          <div class="row inner-row-1">
            <div class="col-xs-12">
              <h4 class="politician-name"><%= rep.title %>. <%= rep.firstname %> <%= rep.lastname %>  |  <%= rep.state %>-<%= rep.district %></h4>
            </div>
          </div><!-- end of 1st inner row -->

          <!-- 2nd row for quote -->
          <div class="row inner-row-2">
            <!-- DIV FOR QUOTE -->
            <div class="col-xs-12">
              <div class="quote-box">
                <p class="quote"><%= rep.quote %> <a class="source" href="<%= rep.quote_source%>" target="_blank">[Source]</a></p>
              </div>
            </div> <!-- end quote div -->
          </div><!-- end of 2nd inner row -->
          <div class="row inner-row-3">
            <!-- DIV FOR INDUSTRIES -->
            <div class="col-xs-12 col-sm-6 industry-box">
              <p class="text-center funding-title"><span class="lead">Follow the Funding</span><br>
              Top 3 Industries</p>
                <ol>
                  <li class="industry"> <%= rep.industry1_name %></li>
                  <li class="industry"> <%= rep.industry2_name %></li>
                  <li class="industry"> <%= rep.industry3_name %></li>
                </ol>
            </div><!-- end industries div -->
            <!-- DIV FOR EDUCATION -->
            <div class="col-xs-12 col-sm-6 educate-box">
              <p class="text-center funding-title"><span class="lead">Educate</span><br>
              Send some science...</p>
              <div class="row">
                <div class="col-xs-12 text-center">

                  <a href="http://twitter.com/home?status=@<%=rep.twitter_id%>%20Given%20your%20position%20on%20%23climatechange,%20please%20take%20a%20look%20at%20the%20science%20http://www.ipcc.ch/report/ar5/%20%20%23denieredu" target="_blank">
                    <img class="social-icon" src="images/twitter.png" alt="twitter">
                  </a>
                </div>
              </div>
            </div><!-- end education div -->
          </div><!-- end of 3rd inner row -->
        </div><!-- End of div for xs-col-9 -->
      </div><!-- end row for rep -->
    </div><!-- end politician div -->
     <hr>
    <% }) %>

<br>

<div class="divider" id="senators"></div>
<h2 class="text-center">Senate</h2>
<hr>
  <!-- IF NO SENATORS IN STATE SEARCH -->
  <% if (allSenators.length === 0) { %>
    <p class="lead">There are no Senators from <%= state %>.<p>
  <% } %>

  <% allSenators.forEach(function(senator){ %>
  <div class="politician">
      <!-- ROW FOR WHOLE DIV -->
      <div class="row">
        <!-- img div -->
        <div class="col-xs-12 col-sm-3">
          <img class="politician-image desaturate"src="<%=senator.picture%>" alt="">
        </div>
        <!-- div to hold all other elements -->
        <div class="col-xs-12 col-sm-9">

          <!-- 1st row for name and district -->
          <div class="row inner-row-1">
            <div class="col-xs-12">
              <h4 class="politician-name"><%= senator.title %>. <%= senator.firstname %> <%= senator.lastname %>  |  <%= senator.state %></h4>
            </div>
          </div><!-- end of 1st inner row -->

          <!-- 2nd row for quote -->
          <div class="row inner-row-2">
            <!-- DIV FOR QUOTE -->
            <div class="col-xs-12">
              <div class="quote-box">
                <p class="quote"><%= senator.quote %> <a class="source" href="<%= senator.quote_source%>" target="_blank">[Source]</a></p>
              </div>
            </div> <!-- end quote div -->
          </div><!-- end of 2nd inner row -->
          <div class="row inner-row-3">
            <!-- DIV FOR INDUSTRIES -->
            <div class="col-xs-12 col-sm-6 industry-box">
              <p class="text-center funding-title"><span class="lead">Follow the Funding</span><br>
              Top 3 Industries</p>
                <ol>
                  <li class="industry"> <%= senator.industry1_name %></li>
                  <li class="industry"> <%= senator.industry2_name %></li>
                  <li class="industry"> <%= senator.industry3_name %></li>
                </ol>
            </div><!-- end industries div -->
            <!-- DIV FOR EDUCATION -->
            <div class="col-xs-12 col-sm-6 educate-box">
              <p class="text-center funding-title"><span class="lead">Educate</span><br>
              Send some science...</p>
               <div class="row">
                 <div class="col-xs-12 text-center">

                  <a href="http://twitter.com/home?status=@<%=senator.twitter_id%>%20Given%20your%20position%20on%20%23climatechange,%20please%20take%20a%20look%20at%20the%20science%20http://www.ipcc.ch/report/ar5/%20%20%23denieredu" target="_blank">
                  <img class="social-icon" src="images/twitter.png" alt="twitter">
                  </a>
                </div>
              </div>
            </div><!-- end education div -->
          </div><!-- end of 3rd inner row -->
        </div><!-- End of div for xs-col-9 -->
      </div><!-- end row for senator -->
    </div><!-- end politician div -->
    <hr>
  <% }) %>

</div><!-- close wrap -->

<ul class="nav pull-right scroll-top">
  <li><a href="#" title="Scroll to top"><i class="glyphicon glyphicon-chevron-up"></i></a></li>
</ul>


<div id="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">
        <p class="text-muted">Thank you for taking the time to combat climate change denial in our own special way!</p>
        <p class="text-muted">Special thanks to our sources:</p>
        <ul class="footer-list">
          <li><a href="http://www.barackobama.com/#get-the-latest">Organize for Action</a></li>
          <li><a href="http://sunlightfoundation.com/">Sunlight Foundation</a></li>
          <li><a href="https://www.opensecrets.org/">Open Secrets</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<script src="javascripts/scripts.js">
</script>
<% include partials/footer %>